{% extends 'layouts/admindashboard.html'%}

{% block title %} Dashboard {% endblock title %}
{% block content %}
<div class="row">
  <div class="container-fluid py-2" style="margin-top: 5em;">
      <div class="row px-5">
          <div class="col-lg-6 ">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="d-flex flex-column">
                        <h4 class="font-weight-bolder">SRS Dashboard</h4>
                          <p class="mb-5">Using SRS, match for strong candidates that would be a great fit for your new jobs.</p>
                            <!-- <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="javascript:;">
                        Read More
                              <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                            </a> -->
                    </div>
                  </div>
                  <div class="col-lg-6 ms-auto text-center mt-5 mt-lg-0">
                    <div class="bg-gradient-primary border-radius-lg h-100">
                      <img src="/static/assets/img/shapes/waves-white.svg" class="position-absolute h-100 w-50 top-0 d-lg-block d-none" alt="waves">
                        <div class="position-relative d-flex align-items-center justify-content-center h-100">
                          <img class="w-100 position-relative z-index-2 pt-4" src="/static/assets/img/illustrations/rocket-white.png">
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card h-100">
              <div class="overflow-hidden position-relative border-radius-xl bg-cover h-100" style="background-image: url('/static/assets/img/ivancik.jpg');">
                <span class="mask bg-gradient-dark"></span>
                <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
                  <h4 class="text-white font-weight-bolder mb-4 pt-2">Feedbacks</h4>
                  <h6 class="text-white font-weight-bolder"><i>Client Feedbacks</i></h6>
                  <p class="text-white "><i>"Recruiting becomes easy with SRS !"</i></p>
                  <a class="text-white text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="{% url 'feedback' %}">
                    Read More
                    <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  
        <div class="row mt-5 px-5">
          <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
<div class="card">
<div class="card-header pb-0">
  <div class="row">
    <div class="col-lg-6 col-7">
      <h6>Active Jobs</h6>
      <p class="text-sm mb-0">
        <i class="fa fa-check text-info" aria-hidden="true"></i>
        <span class="font-weight-bold ms-1">30 done</span> this month
      </p>
    </div>
  <div class="col-lg-6 col-5 my-auto text-end">
<div class="dropdown float-lg-end pe-4">
  <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-ellipsis-v text-secondary" aria-hidden="true"></i>
  </a>
  <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
    <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
    <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
    <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
  </ul>
</div>
</div>
</div>
</div>
<div class="card-body px-0 pb-2">
<div class="table-responsive">
  <table class="table align-items-center mb-0">
    <thead>
      <tr>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Companies</th>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Members</th>
        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Budget</th>
        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Difficulty</th>
        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Completion</th>
      </tr>
    </thead>
    <tbody>
      

      

      <tr>
        <td>
          <div class="d-flex px-2 py-1">
            <div>
              <img src="https://appsrv1-147a1.kxcdn.com/soft-ui-dashboard/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3">
            </div>
            <div class="d-flex flex-column justify-content-center">
              <h6 class="mb-0 text-sm">Soft UI XD Version</h6>
            </div>
          </div>
        </td>

        <td class="align-middle text-center text-sm">
          <span class="text-xs font-weight-bold"> $14,000 </span>
        </td>
        <td class="align-middle text-center">
          <h6><span class="badge bg-gradient-success text-xxs">Easy</span></h6>
        </td>
        <td class="align-middle">
          <div class="progress-wrapper">
            <div class="progress-info">
              <div class="progress-percentage">
                <span class="text-xs font-weight-bold">60%</span>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </td>
        <td class="align-middle text-center">
          <span class="status text-success">&bull;Active</span>
        </td>
      </tr>

      <tr>
        <td>
          <div class="d-flex px-2 py-1">
            <div>
              <img src="https://appsrv1-147a1.kxcdn.com/soft-ui-dashboard/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3">
            </div>
            <div class="d-flex flex-column justify-content-center">
              <h6 class="mb-0 text-sm">Soft UI XD Version</h6>
            </div>
          </div>
        </td>

        <td class="align-middle text-center text-sm">
          <span class="text-xs font-weight-bold"> $14,000 </span>
        </td>
        <td class="align-middle text-center">
          <h6><span class="badge bg-gradient-success text-xxs">Easy</span></h6>
        </td>
        <td class="align-middle">
          <div class="progress-wrapper">
            <div class="progress-info">
              <div class="progress-percentage">
                <span class="text-xs font-weight-bold">60%</span>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <td class="align-middle text-center">
              <span class="status text-success">&bull;Active</span>
            </td>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="d-flex px-2 py-1">
            <div>
              <img src="https://appsrv1-147a1.kxcdn.com/soft-ui-dashboard/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3">
            </div>
            <div class="d-flex flex-column justify-content-center">
              <h6 class="mb-0 text-sm">Soft UI XD Version</h6>
            </div>
          </div>
        </td>

        <td class="align-middle text-center text-sm">
          <span class="text-xs font-weight-bold"> $14,000 </span>
        </td>
        <td class="align-middle text-center">
          <h6><span class="badge bg-gradient-success text-xxs">Easy</span></h6>
        </td>
        <td class="align-middle">
          <div class="progress-wrapper">
            <div class="progress-info">
              <div class="progress-percentage">
                <span class="text-xs font-weight-bold">60%</span>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <td class="align-middle text-center">
              <span class="status text-success">&bull;Active</span>
            </td>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="d-flex px-2 py-1">
            <div>
              <img src="https://appsrv1-147a1.kxcdn.com/soft-ui-dashboard/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3">
            </div>
            <div class="d-flex flex-column justify-content-center">
              <h6 class="mb-0 text-sm">Soft UI XD Version</h6>
            </div>
          </div>
        </td>

        <td class="align-middle text-center text-sm">
          <span class="text-xs font-weight-bold"> $14,000 </span>
        </td>
        <td class="align-middle text-center">
          <h6><span class="badge bg-gradient-success text-xxs">Easy</span></h6>
        </td>
        <td class="align-middle">
          <div class="progress-wrapper">
            <div class="progress-info">
              <div class="progress-percentage">
                <span class="text-xs font-weight-bold">60%</span>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar bg-gradient-info w-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <td class="align-middle text-center">
              <span class="status text-success">&bull;Active</span>
            </td>
          </div>
        </td>
      </tr>


</tbody>
</table>
</div>
</div>
</div>
</div>

        </div>
      
</div>





{% endblock content %}