{% extends 'layouts/admindashboard.html'%}

{% block title %} Dashboard {% endblock title %}
{% block content %}
<section>
    <div class="container-fluid py-4 bg-white">
      <div class="row">
        <div class="col-lg-12 ">
          <h3 class="text-center">Feedback</h3>
         
          <!--  Content Start -->
          <div class="card">
            <div class="table-responsive">
              <table class="table align-items-center mb-0">
                <thead>
                     
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Job Title</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Feedback Description </th>
                    <!-- <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Job </th> -->
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Rating</th>
                    
                    <!-- <th class="text-secondary opacity-7"></th> -->
                  </tr>
                </thead>
                <tbody>
                  {% for feedback in obj %}
                  <tr>
                    
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-xs">{{feedback.title}}</h6>
                        </div>
                      </div>
                    </td>
 
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{feedback.description}}</span>
                    </td>
                    <!-- <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">23/04/18</span>
                      </td> -->
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{feedback.rating}}</span>
                      </td>
                      <td class="align-middle">
                        <a href="#"><button type="button" class="btn btn-info text-right" data-bs-toggle="modal" data-bs-target="#exampleModal">View</button></a>
                        </td>
                   
                   
                  </tr>
                  {% endfor %}
          
                  <!-- <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/small-logos/logo-atlassian.svg" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-xs"></h6>
                        
                        </div>
                      </div>
                    </td>
               
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">11/01/19</span>
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">11/01/19</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">2</span>
                      </td>
                      <td class="align-middle">
                        <a href="#"><button type="button" class="btn btn-info text-right">View</button></a>
                        </td>
                   
                    
                  </tr>
          
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/small-logos/logo-slack.svg" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-xs">Data Engineer</h6>
                        
                        </div>
                      </div>
                    </td>
                  
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">19/09/17</span>
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">19/09/17</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">4</span>
                      </td>
                      <td class="align-middle">
                        <a href="#"><button type="button" class="btn btn-info text-right">View</button></a>
                        </td>
                
                    
                  </tr>
          
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/small-logos/logo-spotify.svg" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-xs">System Architect</h6>
                         
                        </div>
                      </div>
                    </td>
                  
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">24/12/08</span>
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">24/12/08</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">1</span>
                      </td>
                      <td class="align-middle">
                        <a href="#"><button type="button" class="btn btn-info text-right">View</button></a>
                        </td>
               
                    
                  </tr>
          
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/small-logos/logo-invision.svg" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-xs">Backend Developer</h6>
                        
                        </div>
                      </div>
                    </td>
                  
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">04/10/21</span>
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">04/10/21</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">5</span>
                      </td>
                      <td class="align-middle">
                        <a href="#"><button type="button" class="btn btn-info text-right">View</button></a>
                        </td>
                  
                    
                  </tr>
          
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/small-logos/logo-invision.svg" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-xs">Frontend Developer</h6>
                        
                        </div>
                      </div>
                    </td>
                  
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">14/09/20</span>
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">14/09/20</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">5</span>
                      </td>
                      <td class="align-middle">
                        <a href="#"><button type="button" class="btn btn-info text-right">View</button></a>
                        </td>
                
                 
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
          
          <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Feedback</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row"> 
          <b>Job Name:</b>
        </div>
        <div class="row"> 
          <b>Rating:</b>
        </div>
        <div class="row"> 
          <b>Description:</b>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>

          <!--  Content End -->
        </div>
      </div>
    </div>
  </section>
{% endblock content %}