{% extends 'layouts/admindashboard.html'%}


{% block title %} Users {% endblock title %}
{% block content %}
<section>
  <div class="container-fluid py-4 bg-white">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-center">Users</h3>
        <a href="addUser"
          ><button type="button" class="btn btn-success text-right">
            ADD NEW USER
          </button></a
        >

        <!--  Content Start -->
        <div class="card">
          <div class="table-responsive">
            <table class="table align-items-center mb-0">
              <thead>
                
                
                <tr>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    User Email
                  </th>
                  <th
                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    User Name
                  </th>
                  <th
                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    User Contact
                  </th>
                  <th class="text-secondary opacity-7"></th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                
                
                <tr>
                  {% for user in object %}
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img
                          src="/static/assets/img/small-logos/logo-xd.svg"
                          class="avatar avatar-sm me-3"
                        />
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-xs">{{user.email}}</h6>
                      </div>
                    </div>
                  </td>

                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"
                      >{{user.firstname}} {{user.lastname}}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"
                      >{{user.contact}}</span
                    >
                  </td>
                  <td class="align-middle">
                    <a href="viewUser/{{user.id}}"
                      ><button type="button" class="btn btn-info text-right">
                        View
                      </button></a
                    >
                  </td>
                  <td class="align-middle">
                    <a href="/"
                      ><button
                        type="button"
                        onClick="delAlert()"
                        class="btn btn-danger text-right"
                      >
                        Delete User
                      </button></a
                    >
                  </td>
                </tr>
<!-- 
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img
                          src="/static/assets/img/small-logos/logo-atlassian.svg"
                          class="avatar avatar-sm me-3"
                        />
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-xs">Usman Ikram</h6>
                      </div>
                    </div>
                  </td>

                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"
                      >11/01/19</span
                    >
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"
                      >0</span
                    >
                  </td>
                  <td class="align-middle">
                    <a href="viewUser"
                      ><button type="button" class="btn btn-info text-right">
                        View
                      </button></a
                    >
                  </td>
                  <td class="align-middle">
                    <a href="/"
                      ><button
                        type="button"
                        onClick="delAlert()"
                        class="btn btn-danger text-right"
                      >
                        Delete User
                      </button></a
                    >
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img
                          src="/static/assets/img/small-logos/logo-slack.svg"
                          class="avatar avatar-sm me-3"
                        />
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-xs">Abrar Qadri</h6>
                      </div>
                    </div>
                  </td>

                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"
                      >19/09/17</span
                    >
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"
                      >1</span
                    >
                  </td>
                  <td class="align-middle">
                    <a href="viewUser"
                      ><button type="button" class="btn btn-info text-right">
                        View
                      </button></a
                    >
                  </td>
                  <td class="align-middle">
                    <a href="/"
                      ><button
                        type="button"
                        onClick="delAlert()"
                        class="btn btn-danger text-right"
                      >
                        Delete User
                      </button></a
                    >
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img
                          src="/static/assets/img/small-logos/logo-spotify.svg"
                          class="avatar avatar-sm me-3"
                        />
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-xs">Ahmad Hassan</h6>
                      </div>
                    </div>
                  </td>

                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"
                      >24/12/08</span
                    >
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"
                      >5</span
                    >
                  </td>
                  <td class="align-middle">
                    <a href="viewUser"
                      ><button type="button" class="btn btn-info text-right">
                        View
                      </button></a
                    >
                  </td>
                  <td class="align-middle">
                    <a href="/"
                      ><button
                        type="button"
                        onClick="delAlert()"
                        class="btn btn-danger text-right"
                      >
                        Delete User
                      </button></a
                    >
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img
                          src="/static/assets/img/small-logos/logo-invision.svg"
                          class="avatar avatar-sm me-3"
                        />
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-xs">Najeeb Ur Rehman</h6>
                      </div>
                    </div>
                  </td>

                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"
                      >04/10/21</span
                    >
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"
                      >3</span
                    >
                  </td>
                  <td class="align-middle">
                    <a href="viewUser"
                      ><button type="button" class="btn btn-info text-right">
                        View
                      </button></a
                    >
                  </td>
                  <td class="align-middle">
                    <a href="/"
                      ><button
                        type="button"
                        onClick="delAlert()"
                        class="btn btn-danger text-right"
                      >
                        Delete User
                      </button></a
                    >
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img
                          src="/static/assets/img/small-logos/logo-invision.svg"
                          class="avatar avatar-sm me-3"
                        />
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-xs">Mushtaq Ahmad</h6>
                      </div>
                    </div>
                  </td>

                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"
                      >14/09/20</span
                    >
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"
                      >2</span
                    >
                  </td>
                  <td class="align-middle">
                    <a href="viewUser"
                      ><button type="button" class="btn btn-info text-right">
                        View
                      </button></a
                    >
                  </td>
                  <td class="align-middle">
                    <a href="/"
                      ><button
                        type="button"
                        onClick="delAlert()"
                        class="btn btn-danger text-right"
                      >
                        Delete User
                      </button>
                    </a> -->
                    {%endfor%}
                  </td>
                
                
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>

        <!--  Content End -->
      </div>
    </div>
  </div>
</section>
<script>
  function delAlert() {
    let text;
    if (confirm("Are You Sure You Want To Delete User?") == true) {
      text = "You pressed OK!";
    } else {
      text = "You canceled!";
    }
  }
</script>
{% endblock content %}
