{% extends 'layouts/userdashboard.html'%}

{% block title %} Add Feedback {% endblock title %}
{% block content %}
<section>
    <div class="container-fluid py-4 bg-white">
      <div class="row">
        <div class="col-lg-12 ">
          <h3 class="text-center">Add Feedback</h3>
          <form role="form" id="contact-form" method="post" autocomplete="off">
            <div class="card-body">
 
              <div class="row">
                <div class="mb-4">
                  <label>Job Name</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="" aria-label="First Name..." type="text" value="DevOps Engineer" disabled >
                  </div>
                </div>
              </div>

                <div class="row">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Rating</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option selected>5</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  </div>
          
                <div class="col-md-12">
                  <button type="submit" class="btn bg-gradient-primary w-100">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}