{% extends 'layouts/userdashboard.html'%}
{% include 'user/scripts.html' %}
{% block title %} Create Job {% endblock title %}
{% block content %}

<section>

    <div class="container ">
        <div class="py-5 text-center">
            <h2>Create Job</h2>
            <p class="lead">Enter detailed job description and provide the criteria for shortlisting the candidates</p>
        </div>
        <form class="needs-validation" novalidate>
            <div class="row " style="margin-bottom: 10em;">
                <div class="col-sm-5 col-md-6">
                
                    <label for="jobTitle" class="form-label">Job Title</label>
                        <input type="text" class="form-control mb-3" id="jobTitle" required>
                        <div class="invalid-feedback">
                            Job Title is Required
                        </div>
                    <label for="jobDesc" class="form-label">Description</label>
                        <textarea class="form-control mb-3" id="jobDesc" required rows="5"></textarea>
                        <div class="invalid-feedback">
                            Job Description is Required
                        </div>
                    <label for="qualification" class="form-label">Qualification</label>
                        <input type="text" class="form-control mb-3" id="qualification" required>
                        <div class="invalid-feedback">
                            Valid Qualification is Required
                        </div>
                    <label for="experience" class="form-label">Experience</label>
                        <input type="text" class="form-control mb-3" id="experience" required>
                        <div class="invalid-feedback">
                            Years of Experience is Required
                        </div>
                    <label for="uResume" class="form-label">Upload Resume</label><br>
                        <input type="file" id="uResume" name="uResume" multiple>
                    <label for="jobResults" class="form-label py-2">Required Results</label>
                        <input type="number" min="5" max="50" value="5" id="jobResults" >

                        <button type="submit" class="btn btn-primary ">Submit</button>

                
                </div>
                
                <div class="col-sm-5 col-md-6">
                    <div class="container">
                    <div class="wrap" style="border-radius:20px; background-color: rgb(248, 249, 249);">
                        <label for="skills" class="form-label py-2 px-5">Add Skills</label>
                            <div class="input-group mb-3 px-5">
                                <input type="text" id="skills" name="title[]" class="form-control m-input " placeholder="Skills.." autocomplete="off">
                                <div class="input-group-append">
                                    <button id="removeRow" type="button" class="btn btn-danger" style="margin-bottom: 0rem;">x</button>        
                                </div>
                            </div>
                    
                        <div id="newRow"></div>
                        <p align="center">    
                            <button id="addRow" type="button" class="btn btn-info ">Add +</button>
                        </p>
                    </div>    
                </div>
                </div>
            </div>    
        </form>
    </div>

</section>
{% endblock content %}