{% extends 'layouts/userdashboard.html'%}
{% include 'user/scripts.html' %}
{% block title %} Create Job {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<section>
<style>
    .loading{
  display: none;
}
    .loading {
  position: fixed;
  z-index: 2000;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

</style>

    <div class="container-fluid py-2 bg-white">
        <div class="py-5 text-center">
            <h2>Create Job</h2>
            <p class="lead">Enter detailed job description and provide the criteria for shortlisting the candidates</p>
        </div>
        <form id="myForm" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="row justify-content-around" style="margin-bottom: 5em;">
                <div class="col-sm-6 col-md-6">
                  
                    <!--    <label for="jobTitle" class="form-label">Job Title</label>
                         <input type="text" class="form-control mb-3" id="jobTitle" required> -->
                        {{ jobform.title | as_crispy_field}}
                        <div class="invalid-feedback">
                            Job Title is Required
                        </div>
                    <!-- <label for="jobDesc" class="form-label">Description</label>
                        <textarea class="form-control mb-3" id="jobDesc" required rows="5"></textarea> -->
                        {{ jobform.description | as_crispy_field}}
                        <div class="invalid-feedback">
                            Job Description is Required
                        </div>
                        {{ jobform.location | as_crispy_field}}
                    <!--<label for="qualification" class="form-label">Qualification</label>
                        <input type="text" class="form-control mb-3" id="qualification" required>-->
                        {{ jobform.qualification | as_crispy_field}}
                        <div class="invalid-feedback">
                            Valid Qualification is Required
                        </div>
                        {{ jobform.skills | as_crispy_field}}
                    <!--<label for="experience" class="form-label">Experience</label>
                        <input type="text" class="form-control mb-3" id="experience" required>-->
                        {{ jobform.experience | as_crispy_field}}
                        <div class="invalid-feedback">
                            Years of Experience is Required
                        </div>
                        {{ resumeform.resume | as_crispy_field}}
                    <!--<label for="uResume" class="form-label">Upload Resume</label><br>
                        <input type="file" id="uResume" name="uResume" multiple>
                    <label for="jobResults" class="form-label py-2">Required Results</label>
                        <input type="number" min="5" max="50" value="5" id="jobResults" >-->
                </div>
                
                <!-- <div class="col-sm-6 col-md-6">
                    <div class="wrap" style="border-radius:20px; background-color: rgb(248, 249, 249);">
                        <label for="skills" class="form-label py-2 px-5">Add Skills</label>
                            <div class="input-group mb-3 px-5">
                                <input type="text" id="skills" name="title[]" class="form-control m-input " placeholder="Skills.." autocomplete="off">
                                <div class="input-group-append">
                                    <button id="removeRow" type="button" class="btn btn-danger" style="margin-bottom: 0rem;">x</button>        
                                </div>
                            </div>
                    
                        <div id="newRow"></div>
                        <p align="center">    
                            <button id="addRow" type="button" class="btn btn-info ">Add +</button>
                        </p>
                    </div>    
                </div> -->
                <div class="loading" id="loaderID"></div>
                <div class="text-center">
                    <button type="button" onclick="showLoader()" class="btn btn-primary mt-4" >Create Job</button>
                </div>
            </div>    
        </form>
    </div>
    <script>
      window.onload = function(){
        document.getElementById("id_resume").classList.add("form-control");
      }
        function showLoader() {
            document.getElementById("myForm").submit();
  document.getElementById("loaderID").style.display = "block";
}
    </script>
</section>
{% endblock content %}
