{% extends 'layouts/userdashboard.html'%}

{% block title %} Feedback {% endblock title %}
{% block content %}
<section>
    <div class="container-fluid py-4 bg-white">
      <div class="row">
        <div class="col-lg-12 ">
          <h3 class="text-center">Feedback</h3>

          <!--  Content Start -->
          <div class="card">
            <div class="table-responsive">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Job Title</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Job Creation Date</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Job Completion Date</th>
                    <th class="text-secondary opacity-7"></th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-xs">Devops Engineer</h6>
                        </div>
                      </div>
                    </td>
 
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">23/04/18</span>
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">23/04/18</span>
                      </td>
                      <td class="align-middle">
                        <a href="viewfeedback"><button type="button" class="btn btn-info text-right">View</button></a>
                        </td>
                    <td class="align-middle">
                        <a href="addfeedback"><button type="button" class="btn btn-success text-right">Add Feedback</button></a>
                    </td>
                  
                  </tr>
          
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/small-logos/logo-atlassian.svg" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-xs">Software Engineer</h6>
                        
                        </div>
                      </div>
                    </td>
               
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">11/01/19</span>
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">11/01/19</span>
                      </td>
                      <td class="align-middle">
                        <a href="viewfeedback"><button type="button" class="btn btn-info text-right">View</button></a>
                        </td>
                    <td class="align-middle">
                        <a href="addfeedback"><button type="button" class="btn btn-success text-right">Add Feedback</button></a>
                      </td>
                    
                  </tr>
          
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/small-logos/logo-slack.svg" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-xs">Data Engineer</h6>
                        
                        </div>
                      </div>
                    </td>
                  
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">19/09/17</span>
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">19/09/17</span>
                      </td>
                      <td class="align-middle">
                        <a href="viewfeedback"><button type="button" class="btn btn-info text-right">View</button></a>
                        </td>
                    <td class="align-middle">
                        <a href="addfeedback"><button type="button" class="btn btn-success text-right">Add Feedback</button></a>
                      </td>
                    
                  </tr>
          
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/small-logos/logo-spotify.svg" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-xs">System Architect</h6>
                         
                        </div>
                      </div>
                    </td>
                  
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">24/12/08</span>
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">24/12/08</span>
                      </td>
                      <td class="align-middle">
                        <a href="viewfeedback"><button type="button" class="btn btn-info text-right">View</button></a>
                        </td>
                    <td class="align-middle">
                        <a href="addfeedback"><button type="button" class="btn btn-success text-right">Add Feedback</button></a>
                      </td>
                    
                  </tr>
          
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/small-logos/logo-invision.svg" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-xs">Backend Developer</h6>
                        
                        </div>
                      </div>
                    </td>
                  
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">04/10/21</span>
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">04/10/21</span>
                      </td>
                      <td class="align-middle">
                        <a href="viewfeedback"><button type="button" class="btn btn-info text-right">View</button></a>
                        </td>
                    <td class="align-middle">
                        <a href="addfeedback"><button type="button" class="btn btn-success text-right">Add Feedback</button></a>
                      </td>
                    
                  </tr>
          
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="/static/assets/img/small-logos/logo-invision.svg" class="avatar avatar-sm me-3">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-xs">Frontend Developer</h6>
                        
                        </div>
                      </div>
                    </td>
                  
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">14/09/20</span>
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">14/09/20</span>
                      </td>
                      <td class="align-middle">
                        <a href="viewfeedback"><button type="button" class="btn btn-info text-right">View</button></a>
                        </td>
                    <td class="align-middle">
                        <a href="addfeedback"><button type="button" class="btn btn-success text-right">Add Feedback</button></a>
                      </td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


          <!--  Content End -->
        </div>
      </div>
    </div>
  </section>
{% endblock content %}