{% extends 'layouts/userdashboard.html'%}

{% block title %} Jobs {% endblock title %}
{% block content %}
<section>
  <div class="container py-5">

    <div class="text-center">
        <h2>Jobs and Details</h2>

        <button class="btn btn-info">Add Job</button>
        <button class="btn btn-primary ">Download</button>
        
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort
            </button>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        
        <div class="col-lg-10" style="margin:auto ;">
            
            <div class="card-body pt-4 p-3" >
                <ul class="list-group">
                    <li class="list-group-item border-o d-flex p-4 mb-2 bg-grey-100 border-radius-lg">
                        <div class="col-sm-6">
                            <h5 class="text-dark font-weight-bold"><strong>Trainee Embedded Systems Engineer</strong></h5><br>
                            <span class="text-dark font-weight-bold ">Preffered Qualification: <span class="text-xs">BsCS, BsIT, BsSE</span></span><br>
                            <span class="text-dark font-weight-bold">Preffered Experience: <span class="text-xs">Fresh Graduate</span></span><br>
                            <span class="text-dark font-weight-bold">Preffered Skills: <span class="text-xs">PLC, Rasberyy Pi</span></span><br>
                            <span class="text-dark font-weight-bold">Required Results: <span class="text-xs">10</span></span><br>
                            <span class="text-dark font-weight-bold">Date Created: <span class="text-xs">22/05/2022</span></span><br>
                            <span class="status text-success">&bull;Active</span><br>
                            <a href="/">Edit</a>
                            <a href="/">Delete</a>
                        </div>
                        
                        <div class="col-sm-6">
                            <span class="text-dark font-weight-bold">Description: <span class="text-xs">Devomech Solutions is a startup providing services in Mechanical, Electronics, and Firmware / Software Development. We design and prototype innovative products for our overseas clients. We believe in uplifting the skillset of our team which enables us to deliver exceptional quality products to our clients.</span></span>
                        </div>
                    </li>
                    <br>
                    <li class="list-group-item border-o d-flex mb-2 bg-grey-100  border-radius-lg">
                        <div class="col-sm-6">
                            <h5 class="text-dark font-weight-bold"><strong>React Developer</strong></h5><br>
                            <span class="text-dark font-weight-bold ">Preffered Qualification: <span class="text-xs">BsCS, BsIT, BsSE</span></span><br>
                            <span class="text-dark font-weight-bold">Preffered Experience: <span class="text-xs">3years</span></span><br>
                            <span class="text-dark font-weight-bold">Preffered Skills: <span class="text-xs">React, React Native, HTML, CSS</span></span><br>
                            <span class="text-dark font-weight-bold">Required Results: <span class="text-xs">5</span></span><br>
                            <span class="text-dark font-weight-bold">Date Created: <span class="text-xs">22/05/2022</span></span><br>
                            <span class="status text-success">&bull;Active</span><br>
                            <a href="#">Edit</a>
                            <a href="#">Delete</a>
                        </div>
                        <div class="col-sm-6">
                            <span class="text-dark font-weight-bold">Description: <span class="text-xs">Mobylogix is looking to hire Frontend Developer Intern. Good performance will lead to permanent employment.</span></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>    
</div> 


  </section>
{% endblock content %}