{% extends 'layouts/userdashboard.html'%}
{% include 'user/scripts.html' %}
{% block title %} View Job {% endblock title %}
{% block content %}

<section>
    <div class="container-fluid py-4 bg-white">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-center">Job Detail</h3>
                <p class="text-center">Complete job details and deliverables</p>

                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-6">
                                <a href="{% url 'jobs' user.id %}" class="mb-15 d-block">
                                    <i class="fa fa-angle-left"></i>
                                    Back To All Jobs
                                </a>
                                <div class="d-md-flex justify-content-between align-items-center">
                                    <div>
                                        <h4 class="mb-0" style="color: #8833ff;">{{job.title}}</h4>
                                        <p class="text-fade">{{user.company_name}}</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-6 company-details" style="text-align: right; ">
                                <h4 class="name mb-0" >
                                    <a target="_blank" href="javascript:;" style="color: #8833ff;">
                                        {{user.company_name}}
                                    </a>
                                </h4>
                                <div>{{user.company_address}}</div>
                                <div>{{user.company_contact}}</div>
                                <div>{{user.email}}</div>
                            </div>
                        </div>
                        
                        
                        <hr style=" border: 1px solid #8833ff;">
                        <div class="row">
                            <div class="col-9 px-3">
                                <h5 class="fw-500" >Job Description</h5>
                                <p class="text-fade" style="text-align: justify;">{{job.description}}</p>
                                
                                <h5 class="fw-500" >Skills</h5>
                                <p class="text-fade" style="text-align: justify;"> {{job.skills}}</p>
                                
                                <h5 class="fw-500" >Qualification</h5>
                                <p class="text-fade">{{job.qualification}}</p>

                                <h5 class="fw-500" >Experience</h5>
                                <p class="text-fade">{{job.experience}}</p>


                                <h5 class="fw-500" >Location</h5>
                                <p class="text-fade" style="text-align: justify;">{{job.location}}</p>

                            </div>
                            
                            <div class="col-3 px-3" style="border: 2px solid blue; border-radius:20px;">
                                <h5 class="fw-500 mt-4" >Employee Name</h5>
                                <p class="text-fade" style="text-align: justify;">{{user.firstname}} {{user.lastname}}</p>

                                <h5 class="fw-500" >Employee Email</h5>
                                <p class="text-fade" style="text-align: justify;">{{user.email}} </p>

                                <h5 class="fw-500" >Date Created on</h5>
                                <p class="text-fade" style="text-align: justify;">{{job.creation_date}} </p>

                                <h5 class="fw-500" >Total Candidates (Resume) </h5>
                                <p class="text-fade" style="text-align: justify;">{{ can_count }} </p>

                                <h5 class="fw-500" >Status</h5>
                                <p class="text-fade" style="text-align: justify;">
                                {% if job.is_completed %}
                                Completed
                                {% else %}
                                Not Completed
                                {% endif %}
                                
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr style=" border: 1px solid #8833ff;">
    </div>

    <div class="container-fluid py-4 bg-white">
        <h3 class="text-center">Candidates Detail</h3>
        <div class="table-responsive">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Contact</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Resume</th>
              </tr>
            </thead>
            <tbody>
                
              <tr>
                {% if candidates %}
              {% for candidate in candidates %}
                <td>
                  <div class="d-flex px-2 py-1">
                    <!-- <div>
                      <img src="/static/assets/img/small-logos/logo-xd.svg" class="avatar avatar-sm me-3">
                    </div> -->
                    
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">{{ candidate.name }}</h6>
                    </div>
                  </div>
                </td>
                <td class="align-middle text-center text-sm">
                  <span class="text-xs font-weight-bold">{{ candidate.email }}</span>
                </td>
                <td class="align-middle text-center text-sm">
                  <span class="text-xs font-weight-bold">{{ candidate.contact }} </span>
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold">{{ candidate.resume }}</span>
                </td>

             
              </tr>
              {% endfor %}
              {% else %}
              <tr>
               <td> <h2>No</h2></td>
               
              </tr>
            {% endif %}
             

            </tbody>
          </table>
        </div>
      </div>


</section>

{% endblock content %}