{% extends 'layouts/userdashboard.html'%}
{% include 'user/scripts.html' %}
{% block title %} View Job {% endblock title %}
{% block content %}
<section>
    <div class="container-fluid py-4 bg-white">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="text-center">View Jobs</h3>
            <a href="createjob"
              ><button type="button" class="btn btn-success text-right">
                Create New Job
              </button></a
            >
    
            <!--  Content Start -->
            <div class="card">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th
                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Job Title
                      </th>
                      <th
                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Date Created On
                      </th>
                      <th
                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Total Results Required
                      </th>

                      <th
                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Status
                      </th>

                      <th
                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                      >
                        Details
                      </th>

                      <th class="text-secondary opacity-7"></th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img
                              src="/static/assets/img/small-logos/logo-xd.svg"
                              class="avatar avatar-sm me-3"
                            />
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-xs">Junior Software Developer</h6>
                          </div>
                        </div>
                      </td>
    
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"
                          >23/04/18</span
                        >
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"
                          >20</span
                        >
                      </td>

                      <td class="align-middle text-center">
                        <span class="status text-success">&bull;Active</span>
                      </td>

                      <td class="align-middle text-center">
                        <a href="viewjobdetails"
                          ><button type="button" class="btn btn-info btn-sm btn-rounded text-right mt-2">
                            View
                          </button></a
                        >
                      </td>
                      <td class="align-middle">
                        <a href="/"
                          ><button
                            type="button"
                            onClick="delAlert()"
                            class="btn btn-danger btn-sm btn-rounded text-right mt-2"
                          >
                            Delete User
                          </button></a
                        >
                      </td>
                    </tr>
    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img
                              src="/static/assets/img/small-logos/logo-atlassian.svg"
                              class="avatar avatar-sm me-3"
                            />
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-xs">SQA Engineer</h6>
                          </div>
                        </div>
                      </td>
    
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"
                          >11/01/19</span
                        >
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"
                          >10</span
                        >
                      </td>

                      <td class="align-middle text-center">
                        <span class="status text-success">&bull;Active</span>
                      </td>

                      <td class="align-middle text-center">
                        <a href="viewjobdetails"
                          ><button type="button" class="btn btn-info btn-sm btn-rounded text-right mt-2">
                            View
                          </button></a
                        >
                      </td>
                      <td class="align-middle">
                        <a href="/"
                          ><button
                            type="button"
                            onClick="delAlert()"
                            class="btn btn-danger btn-sm btn-rounded text-right mt-2"
                          >
                            Delete User
                          </button></a
                        >
                      </td>
                    </tr>
    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img
                              src="/static/assets/img/small-logos/logo-slack.svg"
                              class="avatar avatar-sm me-3"
                            />
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-xs">Data Scientist</h6>
                          </div>
                        </div>
                      </td>
    
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"
                          >19/09/17</span
                        >
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"
                          >10</span
                        >
                      </td>

                      <td class="align-middle text-center">
                        <span class="status text-success">&bull;Active</span>
                      </td>
                      

                      <td class="align-middle text-center">
                        <a href="viewjobdetails"
                          ><button type="button" class="btn btn-info btn-sm btn-rounded text-right mt-2">
                            View
                          </button></a
                        >
                      </td>
                      <td class="align-middle">
                        <a href="/"
                          ><button
                            type="button"
                            onClick="delAlert()"
                            class="btn btn-danger btn-sm btn-rounded text-right mt-2"
                          >
                            Delete User
                          </button></a
                        >
                      </td>
                    </tr>
    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img
                              src="/static/assets/img/small-logos/logo-spotify.svg"
                              class="avatar avatar-sm me-3"
                            />
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-xs">Web Developer</h6>
                          </div>
                        </div>
                      </td>
    
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"
                          >24/12/08</span
                        >
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"
                          >15</span
                        >
                      </td>

                      <td class="align-middle text-center">
                        <span class="status text-success">&bull;Active</span>
                      </td>
                      

                      <td class="align-middle text-center">
                        <a href="viewjobdetails"
                          ><button type="button" class="btn btn-info btn-sm btn-rounded text-right mt-2">
                            View
                          </button></a
                        >
                      </td>
                      <td class="align-middle">
                        <a href="/"
                          ><button
                            type="button"
                            onClick="delAlert()"
                            class="btn btn-danger btn-sm btn-rounded text-right mt-2"
                          >
                            Delete User
                          </button></a
                        >
                      </td>
                    </tr>
    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img
                              src="/static/assets/img/small-logos/logo-invision.svg"
                              class="avatar avatar-sm me-3"
                            />
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-xs">HR Manager</h6>
                          </div>
                        </div>
                      </td>
    
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"
                          >04/10/21</span
                        >
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"
                          >20</span
                        >
                      </td>

                      <td class="align-middle text-center">
                        <span class="status text-success">&bull;Active</span>
                      </td>
                      

                      <td class="align-middle text-center">
                        <a href="viewjobdetails"
                          ><button type="button" class="btn btn-info btn-sm btn-rounded text-right mt-2">
                            View
                          </button></a
                        >
                      </td>
                      <td class="align-middle">
                        <a href="/"
                          ><button
                            type="button"
                            onClick="delAlert()"
                            class="btn btn-danger btn-sm btn-rounded text-right mt-2"
                          >
                            Delete User
                          </button></a
                        >
                      </td>
                    </tr>
    
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img
                              src="/static/assets/img/small-logos/logo-invision.svg"
                              class="avatar avatar-sm me-3"
                            />
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-xs">Senior .Net Developer</h6>
                          </div>
                        </div>
                      </td>
    
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"
                          >14/09/20</span
                        >
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold"
                          >10</span
                        >
                      </td>

                      <td class="align-middle text-center">
                        <span class="status text-success">&bull;Active</span>
                      </td>
                      

                      <td class="align-middle text-center">
                        <a href="viewjobdetails"
                          ><button type="button" class="btn btn-info btn-sm btn-rounded text-right mt-2">
                            View
                          </button></a
                        >
                      </td>
                      <td class="align-middle">
                        <a href="/"
                          ><button
                            type="button"
                            onClick="delAlert()"
                            class="btn btn-danger btn-sm btn-rounded text-right mt-2"
                          >
                            Delete User
                          </button></a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
    
            <!--  Content End -->
          </div>
        </div>
      </div>
    </section>
    <script>
      function delAlert() {
        let text;
        if (confirm("Are You Sure You Want To Delete User?") == true) {
          text = "You pressed OK!";
        } else {
          text = "You canceled!";
        }
      }
    </script>
</section>
  
{% endblock content %}